/web/bundles/
/web/css/
/web/js/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/*
/app/config/deploy.rb
app/config/parameters.yml

web/videos/
Capfile
.rsync_cache
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.idea
.svn

usc.sublime-project
usc.sublime-workspace
