{% extends '::layout.html.twig' %}

{% block title %}{% trans %}How it works?{% endtrans %} | UserScan.com{% endblock %}

{% block body %}
<div class="well">
    <h2>UserScan Nedir?</h2>
    <p>userscan.com, sitenizi kelime anlamıyla scan edip tararken bir yandan da bir gerçeğin altını çizmek ister. Evet, users can! yani kullanıcılar sizi, siz yapar, bir sitenin kullanışlı olup olmadığına ancak onlar karar verebilir. sunduğunuz muhteşem özellikler, fonksiyonalite ve alt yapı çalışmaları ancak kullanıcı, bunları görüp kullanabildiğinde anlam kazanır!</p>

    <h2>Peki userscan.com sizin için ne yapar?</h2>

    <p>Az önce de bahsettiğimiz üzere kullanılabilirliğinizi ölçümler. Bu ölçümleme için bir kaç basit adımda, projenizi ve projenize ait görevleri userscan.com'da tanımlamanız yeterlidir.</p>

    <h2>Neden bu iş için para harcamalıyım?</h2>

    <p>Hedef kitlenize ulaşmak için sarfettiğiniz çabanın kullanıcı tarafındaki yansımasını ölçmenin en maliyetsiz yöntemi bu! Size sunduğumuz ölçümleme raporlarında tanımladığınız görev doğrultusunda analizlerimizi sunarız.</p>
</div>
{% endblock %}