parameters:
    database_driver: "pdo_mysql"
    database_host: "localhost"
    database_port: ""
    database_name: "userscan"
    database_user: "root"
    database_password: ""

    #@todo Configure Local SMTP
    #mailer_transport: "smtp"
    #mailer_host: "mail.userscan.com"
    #mailer_user: "contact@userscan.com"
    #mailer_password: ""
    #mailer_encryption: "ssl"
    #mailer_auth_mode: "login"
    #mailer_port: "25"

    #using gmail for dev env
    mailer_transport: "gmail"
    mailer_user: "userscan@gmail.com"
    mailer_password: ""

    locale: "tr"
    secret: ""
