<!DOCTYPE>
<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% javascripts filter='?yui_js'
        '@ContentBundle/Resources/public/js/jquery-1.7.2.min.js'
        '@ContentBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets filter='cssrewrite,?yui_css'
        'bundles/content/css/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <script type="text/javascript">
			if (top != self) {location.href = 'about:blank';}
    </script>
    <style type="text/css">
    	body {background: none !important}
    </style>
	</head>

	<html>
		<body class="iframe">
			<div class="bar">
				<div class="body">
					<div class="step">
						<ul class="fl">
							<li class="cases">
								<span class="welcome">
									Merhaba, birazdan $$SITE$$ kullanılabilirlik testine katılacaksınız. Lütfen ekranınızın ve monitörünüzün ayarları ile oynayın.
								</span>
								<span class="task_id"></span>
								<span class="task_text"></span>
							</li>
						</ul>

					  <button class="btn btn-success test-start fr" type="button">Testi Başlat</button>

					</div>  
				</div>
			</div>
			<div class="last-screen"></div>
      <iframe src="{% if app.request.query.get('iframe') %}{{ app.request.query.get('iframe') }}{% else %}http://www.markafoni.com/{% endif %}" frameborder="no" scrolling="yes" ></iframe>

		</body>
	</html>
</html>

