{% extends '::layout.html.twig' %}

{% block title %}Test testine hoşgeldiniz | UserScan.com{% endblock %}

{% block body %}
 buraya yazacaksin!

    <div style="position:absolute; left:77; top:77; width:377; height:377; clip:rect(0,381,381,0); background:#FFF;">

        <iframe src="http://www.markafoni.com/" width="377" height="377" marginwidth="0" marginheight="0" frameborder="no" scrolling="yes" style="border-width:2px; border-color:#333; background:#FFF; border-style:solid;">
        </iframe>

    </div>
{% endblock %}