
.tac {
    text-align: center;
}

.fl { float: left;}
.fr { float: right;}
.clr { clear: both;}

.main-page h1 {
    line-height: 50px;
    font-weight: normal;
    font-family: 'Lucida Grande', sans-serif;
    color: #08C;
}

.main-page h4 {
    font-weight: normal;
    text-align: center;
    color:#777;
}

.main-page .box {
    float: left;
    background: url(../images/home-features.png);
    width: 350px;
    height: 60px;
    background-repeat: no-repeat;
    padding: 5px 0 0 85px;
    margin: 30px 35px 30px 0px;
}
/* custom css */

.main-page .box-1 { background-position: 16px 6px;}
.main-page .box-2 { background-position: 12px -200px;}
.main-page .box-3 { background-position: 10px -135px;}
.main-page .box-4 { background-position:0 -59px; }
.follow-buttons {margin-top: 30px; height: 40px; text-align: center; clear: both; }
.follow-buttons > div { display: inline-block; height: 22px; }
.logos { background: url(../images/colored-small.png) no-repeat; width: 245px; height: 40px;float: left; margin: 6px 2px 7px;}
.page-block { background: #F0F0F0;  border-top: 3px solid #EBEBEB; border-bottom: 1px solid #E1E1E1; margin-bottom: 30px;  padding: 20px 0; margin-top: -9px;text-align: center;}
.page-block h1 { margin-bottom: 10px;}
.fs22 {font-size:22px;}
.special-button {background:#FEF4B6;background: -moz-linear-gradient(top, #FEF4B6 0, #FFE96F 50%, #FCDD13 51%, #FDD913 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #FEF4B6),color-stop(50%, #FFE96F),color-stop(51%, #FCDD13),color-stop(100%,#FDD913)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEF4B6',endColorstr='#FDD913',GradientType=0);border-color:#474A51; border-color: #FFD543;border-radius: 3px!important;-moz-border-radius: 3px!important;-khtml-border-radius: 3px!important;-webkit-border-radius: 3px!important;display: block;-moz-box-shadow: 0 2px 2px -1px #bfaf94;-webkit-box-shadow: 0 2px 2px -1px #BFAF94;box-shadow: 0 2px 2px -1px #BFAF94;  border-color:       #E4B804;}
.mr2 { margin-right: 2px;}
.well-width {width: 300px;}
.now-try  {background: url(../images/slide-button.png) no-repeat; background-size: 100%; margin-left: .4em; -webkit-transition: margin 0.15s ease-out; -moz-transition: margin 0.15s ease-out; text-decoration: none; width: 219px; height: 44px; display: block; cursor: pointer; font-weight: bold; color: #fff; font-size: 30px; font-family: "Lucida Grande"; padding: 11px 0 0 35px; }
.now-try:hover{color: #f4f1de; margin-left: 40px; text-decoration: none; }
h4 ul li { list-style: none;}
.footer { overflow: hidden; margin-left: 0px; float: left;}
.footer li { list-style: none; float:left; margin-right: 4px;}

.label-space {
    width: 90px;
}

.input-line {
    line-height: 40px;
    width: 315px;
}

li {
    list-style: none;
}

div.participant {
    background: #EEE;
    border-bottom: 1px solid #BBB;

    overflow: hidden;
    padding: 10px;
    font-weight:bold;
    width: 600px;
}
div.participant span {
    margin-right: 95px;
}
ul.part {
    border-bottom: 1px solid #BBB;    
    overflow:hidden;
    width: 620px;    
    font-size: 20px;
    margin: 0;
}
ul.part li {
    float:left;
    padding: 10px;     
    height: 30px;
}
ul.part li select {
    width: 110px;
}
ul.part li img {
    margin-right: 10px;
    float:left;
}
ul.part li.per-price {
    width: 230px;
    text-align:center;
}
ul.part li.total {
    width: 110px;
    text-align:center;   
    font-weight:bold;
}
div.special-offer {
    padding-left: 30px;
    display:none;
}
.how-to-banner {
    margin-left: -30px;
}

/* iframe */
body.iframe {
    overflow-x: hidden;
    overflow-y: hidden;
}
.iframe-wrapper {
    padding-top: 10px;
    height: 50px;
    background: #ffff99;
    width: 100%;
    border-bottom: 5px solid #eeeeee;
}
.iframe-top {
    width: 960px;
    margin: 0 auto;
}
.iframe-top .step-ico {
    float: left;
    margin-right: 10px;
}
.iframe-top p {
    margin:0
}
.iframe-top .step-3 p {
    padding-top: 8px;
    margin-right: 10px; 
}
.iframe-top button, .tester-form button {
    padding: 8px;
    color: #fff;
    border-radius: 2px;
    float: left;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.iframe-top .green, .tester-form .green {
    border: solid 1px #657d0f;
    background: #7b9912;
}
.iframe-top .right-arrow {
    padding-right: 25px;
    background-image: url(../images/right-ico.png);
    background-repeat: no-repeat;
    background-position: 62px 15px;
}
.iframe-top .text {
    margin-right: 20px;
    float:left;
}
.iframe-top .text p {
    color: #222222;
}
.iframe-top .black-label {
    background: #222222;
    color: #fff;
    font-size: 11px;
    border-radius: 2px;
    padding: 2px 5px;
    margin-top: 8px;
    float: left;
    margin-top: 10px;
}
.iframe-top .pt10 { padding-top: 10px;}
.iframe-top .mr5 { margin-right: 5px;}
.iframe-top .fr { float: right;}
.iframe-top .gray {
    background: #999999;
    color: #fff;
    font-size: 11px;
    border: none;
    padding: 4px;
}
.iframe-top .prev {
    background-image: url(../images/left-ico.png);
    background-repeat: no-repeat;
    background-position: 10px 9px;
    padding-left: 20px; 
}
.iframe-top .next {
    background-image: url(../images/right-ico.png);
    background-repeat: no-repeat;
    background-position: 51px 9px;
    padding-right: 20px; 
}       
.iframe-top .step-4 .text {
    padding-top: 15px;
}   
.tester-form {
    background: #fff;
    border: solid 5px #eeeeee;   
    width: 596px;
    height: 250px;
    position: absolute;
    top: 238px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1000000;   
    padding: 30px 0 0 20px;     
}
.tester-form input[type="text"] {
    width: 318px;
    height: 30px;
}
.tester-form .close-btn {
    border: solid 1px #be1d29;
    background: #f32837;
    color: #fff;
    float: right;
    width: 19px;
    height: 19px;
    display: block;
    border-radius: 2px;
    text-align: center;
    margin: -20px 5px 0;
}
.tester-form .close-btn:hover {
    text-decoration: none;
}
.overlay {
    background-color: black;
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    display: none;
}
iframe {
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
/* iframe */