
.tac {
    text-align: center;
}

.fl { float: left;}
.fr { float: right;}
.clr { clear: both;}

.main-page h1 {
    line-height: 50px;
    font-weight: normal;
    font-family: 'Lucida Grande', sans-serif;
    color: #08C;
}

.main-page h4 {
    font-weight: normal;
    text-align: center;
    color:#777;
}

.main-page .box {
    float: left;
    background: url(../images/home-features.png);
    width: 350px;
    height: 60px;
    background-repeat: no-repeat;
    padding: 5px 0 0 85px;
    margin: 30px 35px 30px 0px;
}
/* custom css */

.main-page .box-1 { background-position: 16px 6px;}
.main-page .box-2 { background-position: 12px -200px;}
.main-page .box-3 { background-position: 10px -135px;}
.main-page .box-4 { background-position:0 -59px; }
.follow-buttons {margin-top: 30px; height: 40px; text-align: center; clear: both; }
.follow-buttons > div { display: inline-block; height: 22px; }
.logos { background: url(../images/colored-small.png) no-repeat; width: 245px; height: 40px;float: left; margin: 6px 2px 7px;}
.page-block { background: #F0F0F0;  border-top: 3px solid #EBEBEB; border-bottom: 1px solid #E1E1E1; margin-bottom: 30px;  padding: 20px 0; margin-top: -9px;text-align: center;}
.page-block h1 { margin-bottom: 10px;}
.fs22 {font-size:22px;}
.special-button {background:#FEF4B6;background: -moz-linear-gradient(top, #FEF4B6 0, #FFE96F 50%, #FCDD13 51%, #FDD913 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #FEF4B6),color-stop(50%, #FFE96F),color-stop(51%, #FCDD13),color-stop(100%,#FDD913)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEF4B6',endColorstr='#FDD913',GradientType=0);border-color:#474A51; border-color: #FFD543;border-radius: 3px!important;-moz-border-radius: 3px!important;-khtml-border-radius: 3px!important;-webkit-border-radius: 3px!important;display: block;-moz-box-shadow: 0 2px 2px -1px #bfaf94;-webkit-box-shadow: 0 2px 2px -1px #BFAF94;box-shadow: 0 2px 2px -1px #BFAF94;  border-color:       #E4B804;}
.mr2 { margin-right: 2px;}
.well-width {width: 300px;}
.now-try  {background: url(../images/slide-button.png) no-repeat; background-size: 100%; margin-left: .4em; -webkit-transition: margin 0.15s ease-out; -moz-transition: margin 0.15s ease-out; text-decoration: none; width: 219px; height: 44px; display: block; cursor: pointer; font-weight: bold; color: #fff; font-size: 30px; font-family: "Lucida Grande"; padding: 11px 0 0 35px; }
.now-try:hover{color: #f4f1de; margin-left: 40px; text-decoration: none; }
h4 ul li { list-style: none;}
.footer { overflow: hidden; margin-left: 0px; float: left;}
.footer li { list-style: none; float:left; margin-right: 4px;}

.label-space {
    width: 90px;
}

.input-line {
    line-height: 40px;
    width: 315px;
}

li {
    list-style: none;
}

div.participant {
    background: #EEE;
    border-bottom: 1px solid #BBB;

    overflow: hidden;
    padding: 10px;
    font-weight:bold;
    width: 600px;
}
div.participant span {
    margin-right: 95px;
}
ul.part {
    border-bottom: 1px solid #BBB;    
    overflow:hidden;
    width: 620px;    
    font-size: 20px;
    margin: 0;
}
ul.part li {
    float:left;
    padding: 10px;     
    height: 30px;
}
ul.part li select {
    width: 110px;
}
ul.part li img {
    margin-right: 10px;
    float:left;
}
ul.part li.per-price {
    width: 230px;
    text-align:center;
}
ul.part li.total {
    width: 110px;
    text-align:center;   
    font-weight:bold;
}
div.special-offer {
    padding-left: 30px;
    display:none;
}
.how-to-banner {
    margin-left: -30px;
}

/* iframe */
body.iframe {
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}
body.iframe  .bar {
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    min-height: 39px;
    width: 100%;
    padding: 4px;
}
body.iframe .bar div.body {
    margin: 0 auto;
    color: #323232;
    width: 990px;
}
body.iframe iframe {
    width: 100%;
    height: 100%;
    z-index: 10
}
body.iframe ul, body.iframe ul li{
    margin: 0;
    padding: 4;
    background: #FEF8A0;
    border-radius: 3px;
    font-size: 15px;
}
body.iframe .last-screen {
    position: absolute;
    z-index: 100000;
    top: 200px;
    display: none;
    width: 100%;
    height: 100%;
}

/* iframe */