Merhaba, {{ name }}
<br>
<br>
Userscan.com üye şifrenizi <a href="{{ url('recover_password', { 'recover_hash': recover_hash }) }}">buradan</a> değiştirebilirsiniz.
<br>
<br>
Saygılarla,<br>
Userscan.com ekibi