Merhaba, {{ name }}
<br>
<br>
UserScan üye aktivasyon <a href="{{ url('mail_activation', { 'activation_hash': activation_hash }) }}">linkine</a> tıklayarak üyeliğinizi başlatabilirsiniz.
<br>
<br>
Saygılarla,<br>
UserScan ekibi